.header-profile__button {
  border: none;
  font-family: "cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.header-profile__button {
  cursor: pointer;
}

.header-profile__button_login {
  margin-left: 20px;
}

.header__avatar {
  height: 40px;
  width: 40px;
}
