.card {
  width: 323px;
  height: 323px;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  border-color: #808080;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card__header {
  position: absolute;
  top: 15px;
  padding: 2px 11px;
  width: max-content;
  display: flex;
  flex-direction: row;
}

.card__name {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.card__like-button {
  width: 20px;
  height: 18px;
  border: none;
  margin: 3px 0 0 10px;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button-inactive {
  background: transparent url("../../assets/like-inactive.png") center no-repeat;
}

.card__like-button-active {
  background: transparent url("../../assets/like-active.png") center no-repeat;
}

.card__like-button_hidden {
  visibility: hidden;
}

.card__image {
  width: 100%;
}
