.modal__close_image {
  background-image: url("../../assets/closeImageButton.png");
}

.modal__content_type_image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.modal__footer-top {
display: flex;
}

.modal__delete-button {
  border: none;
  background-color: transparent;
  color: rgba(225, 77, 0, 1);
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-right: 32px;
}

.modal__caption {
  margin: 20px auto 12px 32px;
}

.modal__weather {
  margin: 0px auto 32px 32px;
}
