.modal__close_image {
  background-image: url("../../assets/closeImageButton.png");
}

.modal__content_type_image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.modal__caption {
  margin: 20px auto 12px 32px;
}

.modal__weather {
  margin: 0px auto 32px 32px;
}
