@import url(./vendor/normalize.css)


/* @font-face {
    src: url("./vendor/fonts/cabinet-grotesk") format("woff");
    font-family: "Cabinet Grotesk";
  } */

  @font-face {
    font-family: "Cabinet Grotesk";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./vendor/fonts//cabinet-grotesk/CabinetGrotesk-Regular.otf") format("woff2");
  }